/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  transition: all .3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 1024px) {
    body, html {
      font-size: 14px; } }
  @media (max-width: 670px) {
    body, html {
      font-size: 12px; } }

.clear::after, .clear::before {
  content: " ";
  display: table; }

.clear::after {
  clear: both; }

.subtitle {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  padding: 80px 0 50px;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto; }
  @media (max-width: 670px) {
    .subtitle {
      padding: 20px 10px; } }

.button {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  border: 4px solid #000;
  padding: 20px 15px;
  position: relative;
  z-index: 1; }
  .button:before {
    content: '';
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    position: absolute;
    right: -10px;
    bottom: -10px;
    background: #fedd44;
    z-index: -1; }
  .button:hover {
    text-decoration: none;
    color: #e2641f;
    border-color: #e2641f; }
  .button__wrapper {
    text-align: center;
    padding: 50px 0; }

.orange {
  color: #e2641f; }

.yellow {
  color: #fedd44; }

.wine {
  color: #00D0CB; }

.white {
  color: #fff; }

.strong {
  font-weight: 700; }

.header {
  background: url(../images/background/bg-header.png) no-repeat top center;
  background-size: cover;
  position: relative;
  padding-bottom: 80px; }
  @media (max-width: 670px) {
    .header {
      background: url(../images/background/bg-header.png) no-repeat top right;
      padding-bottom: 10px; } }
  .header__contacts-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    z-index: 3; }
    @media (max-width: 375px) {
      .header__contacts-wrapper {
        flex-direction: column;
        align-items: center; } }
  .header__contacts-phone {
    margin-right: 100px; }
    @media (max-width: 375px) {
      .header__contacts-phone {
        margin-right: 0;
        margin-bottom: 10px; } }
  .header__link {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    text-decoration: none; }
    .header__link:hover {
      text-decoration: none;
      color: #e2641f; }
  .header__title {
    font-size: 3rem;
    font-weight: 900;
    color: #00D0CB;
    margin: 50px 0 30px; }
    @media (max-width: 670px) {
      .header__title {
        margin: 20px 0;
        -webkit-text-stroke: 1px #000; } }
  .header__subtitle {
    font-size: 2rem;
    font-weight: 700;
    color: #e2641f;
    -webkit-text-stroke: 1px #000; }
  .header__text {
    font-size: 1.5rem;
    z-index: 3; }
    .header__text--strong {
      font-size: 2rem;
      font-weight: 700;
      margin: 70px 0 30px; }
      @media (max-width: 670px) {
        .header__text--strong {
          margin: 20px 10px; } }
    .header__text-wrapper {
      margin: 30px 0;
      text-align: center;
      z-index: 3;
      margin: 0 auto; }
  .header__img {
    position: absolute;
    right: 15%;
    bottom: 0;
    height: 95%;
    z-index: 0; }
    @media (max-width: 768px) {
      .header__img {
        right: 5%;
        height: 90%; } }
    @media (max-width: 670px) {
      .header__img {
        display: none; } }
  @media (max-width: 670px) {
    .header .button:before {
      background: #00D0CB; } }

.author {
  background: url(../images/background/bg-author.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 80px; }
  @media (max-width: 670px) {
    .author {
      padding-bottom: 20px; } }
  .author__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .author__list-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 10px; }
    @media (max-width: 670px) {
      .author__list-item {
        padding: 10px 0; } }
  .author__icon {
    color: #00D0CB;
    font-size: 3rem;
    margin-right: 25px; }

.result {
  background: url(../images/background/bg-result.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 50px; }
  @media (max-width: 670px) {
    .result {
      padding-bottom: 20px; } }
  .result__text {
    font-size: .9rem; }
  .result__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .result__list-wrapper {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      padding: 15px 15px 0 35px;
      margin: 0 10px;
      text-align: center; }
      @media (max-width: 670px) {
        .result__list-wrapper {
          margin-bottom: 20px; } }
      @media (max-width: 375px) {
        .result__list-wrapper {
          margin: 20px auto; } }
    .result__list-icon {
      display: inline-block;
      margin: 10px auto; }
      @media (max-width: 768px) {
        .result__list-icon {
          width: 60%; } }
      @media (max-width: 670px) {
        .result__list-icon {
          width: 30%; } }
    .result__list-item {
      position: relative;
      text-align: left;
      margin-bottom: 20px; }
      .result__list-item:before {
        content: '';
        background: #00D0CB;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 3px;
        left: -20px; }

.packages {
  background: url(../images/background/bg-packages.png) no-repeat top center;
  background-size: cover; }
  .packages__wrapper {
    margin-bottom: 50px; }
    @media (max-width: 375px) {
      .packages__wrapper {
        margin-bottom: 0; } }
  .packages__product {
    font-size: 1.5rem;
    margin: -20px 0 50px;
    color: #fff;
    text-align: center; }
  .packages__subtitle {
    font-size: 1.5rem;
    font-weight: 900;
    color: #00D0CB;
    padding: 20px;
    text-align: center;
    text-transform: uppercase; }
  .packages__text {
    padding: 5px;
    text-align: center;
    font-weight: 700; }
    .packages__text--spaced {
      margin: 20px 0; }
    .packages__text-wrapper {
      background: #f8f9fa;
      text-align: center;
      padding: 50px;
      font-size: 1.2rem; }
      @media (max-width: 670px) {
        .packages__text-wrapper {
          padding: 10px; } }
  .packages__item {
    margin: 0 25px 33px;
    position: relative;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.08); }
    @media (max-width: 768px) {
      .packages__item {
        margin: 0 auto 50px; } }
    .packages__item-wrapper {
      background: #f8f9fa;
      padding: 20px;
      position: relative;
      z-index: 3; }
    .packages__item:before, .packages__item:after {
      content: '';
      background: #fedd44;
      width: 50%;
      height: 35%;
      z-index: 0; }
    .packages__item:before {
      position: absolute;
      top: -20px;
      left: -20px; }
      @media (max-width: 375px) {
        .packages__item:before {
          position: absolute;
          top: -5px;
          left: -5px; } }
    .packages__item:after {
      position: absolute;
      right: -20px;
      bottom: -20px; }
      @media (max-width: 375px) {
        .packages__item:after {
          position: absolute;
          right: -5px;
          bottom: -5px; } }
  .packages__list {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .packages__list-item {
      margin-bottom: 10px; }
    .packages__list-text {
      font-weight: 600; }
      .packages__list-text--lined {
        font-weight: 300;
        text-decoration: line-through;
        color: grey;
        font-style: italic; }

.transform {
  background: url(../images/background/bg-header.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 30px;
  position: relative; }
  .transform__wrapper {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: .8rem;
    z-index: 2; }
  .transform__text {
    text-align: left;
    padding: 10px;
    text-align: center;
    line-height: 1.1;
    font-weight: 600; }
  .transform__icon {
    font-size: 4rem;
    text-align: center;
    color: #00D0CB; }
  .transform__counter {
    font-size: 1.5rem;
    font-weight: 900; }

.testimonials {
  background: url(../images/background/bg-author.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 30px; }
  .testimonials__wrapper {
    margin: 0 30px 30px 0;
    text-align: center; }
    @media (max-width: 768px) {
      .testimonials__wrapper:last-child {
        display: none; } }
    @media (max-width: 375px) {
      .testimonials__wrapper {
        margin: 10px 0; } }
  @media (max-width: 375px) {
    .testimonials iframe {
      width: 350px;
      height: 172px; } }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.team {
  background: url(../images/background/bg-team.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 80px; }
  @media (max-width: 670px) {
    .team {
      padding-bottom: 20px; } }
  .team-slider {
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 670px) {
      .team-slider {
        width: 100%; } }
    .team-slider__item {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px;
      display: flex !important;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      border-radius: 10px;
      min-height: 280px; }
      @media (max-width: 375px) {
        .team-slider__item {
          flex-direction: column;
          padding: 10px; } }
      .team-slider__item-wrapper {
        padding-left: 50px; }
        @media (max-width: 670px) {
          .team-slider__item-wrapper {
            padding-left: 10px; } }
    .team-slider__photo {
      height: 200px;
      border-radius: 50%; }
      @media (max-width: 375px) {
        .team-slider__photo {
          margin-bottom: 20px; } }
    .team-slider__title {
      font-weight: 900;
      margin-bottom: 5px; }
      @media (max-width: 670px) {
        .team-slider__title {
          text-align: center; } }
    .team-slider__text {
      margin-top: 30px;
      font-size: .9rem; }
  .team .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    cursor: pointer;
    display: block; }
    @media (max-width: 375px) {
      .team .slick-arrow {
        display: none !important; } }
  .team .slick-prev {
    left: -10%; }
  .team .slick-next {
    right: -10%; }
  .team .slick-dots {
    display: flex;
    justify-content: center;
    padding: 20px; }
    @media (max-width: 670px) {
      .team .slick-dots {
        padding: 0; } }
    .team .slick-dots li {
      background: #00D0CB;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 10px; }
      .team .slick-dots li button {
        display: none; }
  .team li.slick-active {
    width: 15px;
    height: 15px;
    background: #e2641f; }

.presentation {
  background: url(../images/background/bg-presentation.jpg) no-repeat top center;
  background-color: rgba(125, 145, 49, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  padding-bottom: 50px; }
  @media (max-width: 670px) {
    .presentation {
      padding-bottom: 20px; } }
  .presentation__wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 50px;
    border-radius: 10px;
    margin-bottom: 30px; }
    @media (max-width: 670px) {
      .presentation__wrapper {
        padding: 10px 10px; } }
    @media (max-width: 375px) {
      .presentation__wrapper {
        border-radius: 0; } }
  .presentation__list {
    margin-top: 20px; }
    .presentation__list-item {
      position: relative;
      display: inline-block;
      margin-top: 10px; }
      .presentation__list-item:before {
        content: '';
        background: #e2641f;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        left: -20px; }
        @media (max-width: 670px) {
          .presentation__list-item:before {
            left: 0; } }
  .presentation__text {
    font-size: 1.2rem;
    line-height: 1.5rem; }
    @media (max-width: 670px) {
      .presentation__text {
        margin-left: 20px; } }
  .presentation__reg {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .presentation__link {
    font-weight: 700;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 20px; }
    .presentation__link:hover {
      color: #e2641f;
      text-decoration: none; }
    .presentation__link-wrapper {
      text-align: center; }

.questions {
  background: #F8F8F8 url(../images/background/bg-author.png) no-repeat top center;
  background-size: 100% auto;
  padding-bottom: 80px; }
  @media (max-width: 670px) {
    .questions {
      padding-bottom: 20px; } }
  .questions__accordion {
    max-width: 80%;
    transition: none;
    margin: 0 auto; }
    .questions__accordion * {
      transition: none; }
  .questions__wrapper {
    background-color: rgba(253, 227, 104, 0.7);
    padding: 15px; }
  .questions__title {
    font-weight: 700;
    font-size: 1.2rem;
    background: #00D0CB;
    padding: 15px !important;
    color: #fff;
    text-align: center; }
    .questions__title:before {
      content: '+';
      font-size: 3rem;
      line-height: 1rem;
      font-weight: 300;
      position: relative;
      top: 5px;
      margin-right: 15px;
      float: left; }
    .questions__title.ui-accordion-header-active:before {
      content: '-';
      top: 0;
      font-size: 3.5rem; }
  .questions__text {
    line-height: 1.5rem; }

.footer {
  background: #00D0CB;
  padding: 50px;
  text-align: center; }
  @media (max-width: 375px) {
    .footer {
      padding: 20px; } }
  .footer__contacts {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 375px) {
      .footer__contacts {
        flex-direction: column; } }
  .footer__link {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    text-decoration: none; }
    @media (max-width: 375px) {
      .footer__link {
        margin-top: 10px; } }
    .footer__link:hover {
      text-decoration: none;
      color: #e2641f; }
  .footer__text {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000; }

.modal__subtitle {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  margin: 30px 0 60px; }
  @media (max-width: 670px) {
    .modal__subtitle {
      margin: 10px 20px; } }
  @media (max-width: 375px) {
    .modal__subtitle {
      margin-bottom: 40px; } }

.modal__wrapper {
  margin: 20px auto;
  text-align: center; }
  @media (max-width: 375px) {
    .modal__wrapper {
      display: flex;
      flex-direction: column; } }

.modal__field {
  display: inline-block;
  margin-left: 20px;
  font: 1.2rem 'Montserrat', sans-serif;
  color: #f8f9fa;
  border-bottom: 1px solid #fff;
  background: transparent; }
  @media (max-width: 375px) {
    .modal__field {
      margin-top: 30px;
      width: 85%; } }

.modal__text {
  text-align: left;
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 700; }
  @media (max-width: 670px) {
    .modal__text {
      width: 100%;
      text-align: center; } }

.modal__img--tl {
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 768px) {
    .modal__img--tl {
      width: 25%; } }

.modal__img--br {
  position: absolute;
  right: 0;
  bottom: 0; }
  @media (max-width: 768px) {
    .modal__img--br {
      width: 25%; } }

#modal_form {
  width: 800px;
  height: 450px;
  background: url(../images/background/bg-form.png) no-repeat top center;
  background-size: cover;
  position: fixed;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
  color: #fff; }
  @media (max-width: 768px) {
    #modal_form {
      width: 80%; } }
  @media (max-width: 670px) {
    #modal_form {
      height: 80%; } }
  #modal_form .button {
    cursor: pointer;
    padding: 20px 50px;
    background: transparent; }
    @media (max-width: 670px) {
      #modal_form .button__wrapper {
        padding: 10px 0; } }

#modal_form #modal_close {
  padding: 10px;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  display: block; }
  #modal_form #modal_close:hover {
    color: #e2641f; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }
