.author {
	background: url(../images/background/bg-author.png) no-repeat top center;
	background-size: cover;
	padding-bottom: 80px;

	@media (max-width: 670px) {
		padding-bottom: 20px;
	}

	&__list {

		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-item {
			padding: 15px 0;
			display: flex;
			align-items: center;
			position: relative;
			margin: 0 10px;

			@media (max-width: 670px) {
				padding: 10px 0;
			}
		}
	}

	&__icon {
		color: $wine;
		font-size: 3rem;
		margin-right: 25px;
	}
}